.TitleBar {
    border: 5px;
    border-bottom-style: solid;
    border-top-style: solid;

    font-weight: 700;
    font-family: 'Trebuchet MS';
    font-size: 30px;

    text-align: center;
    background: rgba(139, 0, 1, 0.9);
    color: Black;
    
    margin: 0px;
    padding: 20px;
}
