/*.App {
  border: 5px solid maroon;
  text-align: center;
  background: maroon;
  color: black;
  margin: 0px;
  padding: 20px;
}
*/

/*
    MainBody is a container to hold all central 
    elements excluding the titlebar and footer

    TODO: 
        * Make it segmented and centralized.
*/
#MainBody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 90vh;
    background-color: silver;
}
#MainBody-Left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: auto;
    width: 20vw;
    border: solid silver;
}
#MainBody-Center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: silver;


    height: auto;
    width: 60vw;
    border: solid silver;
}

#MainBody-Right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: auto;
    width: 20vw;
    border: solid silver;

}

#padded-container-center {
    margin: 5vh;
    height: 75vh;
    background-color: white;
    border: 2px grey solid;
}
#padded-container-left-type{
    margin: 5vh; 
    background-color: white;

    height: 20vh;
    width: 17vw;
    border: 2px grey solid;
}
#padded-container-left-option {
    margin: 5vh; 
    margin-top: 0vh;
    background-color: white;

    height: 50vh;
    width: 17vw;

    border: 2px grey solid;
}
#padded-container-right-instructions {
    margin: 5vh;
    margin-left: 0vh;
    background-color: white;

    height: 80vh;
    width: 19vw;

    border: 2px grey solid;
}
.column-padding {
    margin: 3vw; 
    height: 100%;
}