.box {

    /* THERE SHOULD NOT BE BORDERS IN THE CHILD ITEMS
        02/29/20
        Lam Nguyen
    
    border-bottom: solid;
    border-right: solid;
    border-left: solid; */
}

.file-5 {
    border: dotted;
}