.form-group {
    text-align: center;
    /* Removing borders in the child items
        02/29/20
        Lam Nguyen

    border-left: solid;
    border-right: solid;
    border-top: solid; */
}

.row {
    /* margin-top: 50px;
    padding: 0px; */
}

.form-control {
    /* Moving to more elegant forms of form control
    
    
    margin-left: 20px; */
}

.button {
    /* text-align: center; */
    padding: 0px;
    /* Removing borders from Child elements
        02/29/20
        Lam Nguyen
    
    border-right: solid;
    border-left: solid; */
}

.row2 {
    text-align: center;
}

.table-responsive {
    text-align: center;
    /* Removing borders from Child Elements
        02/29/20
        Lam Nguyen
    
    border-right: solid;
    border-left: solid; */
}

.DataInput{
    border: solid;
}

#col-xs-2 {
    margin-left: 10px;
}
#upload-button {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #5555FF;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}