.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
    overflow: hidden;
}
.inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #101010;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
    background-color: #101010;

    /* This is to adjust for the main navigation bar */
    padding-left: 20px;
}
.logo-container a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 200;
}
.logo-container h1 span {
    font-weight: 800;
}

.basic-navigation {
    height: 100%;
    float: right;
    margin-bottom: 0px;
}
.basic-navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.basic-navigation a li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
}

.redLine {
    height: 50px;
    width: 100%;
    background-color: red;
}
/*  Retired Titlebar v1
    Lam Nguyen
    2020-03-29

    TopBar is the top level div container 
    used to contain everything above the main body.

    TO BE EDITED:
        * Navigation bar?


[css].classname {
    color: #333333;
    font-family: Impact, Charcoal, sans-serif;
}

#TopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: auto;
    background-color: black;
}
/*
    TopBar-Div1 is purely for spreading elements across horizontally

    TO BE EDITED:
        * Buttons

#TopBar-Div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:20px;
    padding-right:20px;
}
#TopBar-SubText {
    font-size: 15px;
    background: rgb(0, 0, 0);
    color: rgb(255,255,255);
    text-align: center;
    font-family: Helvetica, sans-serif;
    padding: 5px;
}
#TopBar-Logo {
    display: block;
    text-align: left;
    padding-left: 30px;
    vertical-align: middle;

    padding-top: 20px;
}
#TitleBar {
    font-weight: Bold;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(255,255,255);
    text-align: center;
    background: rgb(0, 0, 0);
    margin: 0px;
    padding: 5px;
    padding-top: 20px;
}
#Options-container {

}
.nav-item {
    font-size: inherit;
    color: inherit;

    padding-left: 10px;
    padding-right: 10px;
}

.v-center-bar {

    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
}

#GarnetHighlightBar {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 40px;
    width: 100%;
    background-color: rgba(139, 0, 1, 0.9);
    color: rgba(255, 255, 255, 1);
    text-align: center;

    font-family: Impact, Charcoal, sans-serif;

}
img {
    max-width: 100%;
    max-height: 100%;

    display: block;
    margin: 0 auto;
}
*/