*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.App {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0; 
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

.main-body {
    margin: 20px 0;
    display: block;
    text-align: center;
    min-height: 1000px;
}

.inner-main-body {
    width: 1000px;
    height: 100%;
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

#DataPanel-Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Excel-Container {
    display: flex;
    flex-direction: column;
    margin: 3vw;
    margin-bottom: 0;

    background-color: white;

    width: 40vw;
    height: auto;
    border-width: 3px;
    text-align: center;
}

#ical-Container {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    margin-right: 3vw;

    background-color: white;
    border-style: solid;
    border-color:silver;

    width: 20vw;
    height: auto;
    border-width: 3px;
    text-align: center;
}

#col-xs-1-1 {
    height: 20px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn.disabled, .btn:disabled {
    opacity: .65;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 70px 0;
    box-sizing: border-box;
    background-color: #18181a;
}

.inner-footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}

.inner-footer .logo-container {
    display: block;
    width: 35%;
    float: left;
    height: 100%;
    background-color: #18181a;
}

.inner-footer .logo-container img {
    width: auto;
    height: 120px;
}

.inner-footer .footer-third {
    width: calc(21.6666667% - 20px);
    margin-right: 10px;
    float: right;
    height: 100%;
    color: white;
}

.inner-footer .footer-third:last-child {
    margin: 0px;
}
.inner-footer .footer-third h1 {
    font-family: Montserrat;
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third li a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 200;
    color: white;
    display: block;
    width: 100%;
    padding-bottom: 5px;
}

.inner-footer .footer-third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}

.inner-footer .footer-third span {
    color: white;
    font-family: montserrat;
    font-size: 16px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
}

#instructions-text {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: justify;
  }
  #center-mid {
    display: block;
    text-align: center;
  }
  
  /* Imported from neXtInstitute */
  .intro-banner {
    height: 100%;
    width: 100%;
    color: red;
  }
  
  .intro-banner.img-cont {
    float: left;
    width: 100%;
    height: auto;
    &:nth-child(2n) {
      clear: left;
    }
    &:nth-child(2n + 1) {
      margin-right: 0;
    }
  }

  .intro-banner.img-cont img {
    height: 400px;
    background-color: #444;
  }
  
  .intro-banner.img-cont img[class] {
    width: 100%;
  }
  
  .object-fit_cover {
    object-fit: cover;
  }
  
  .Instructions {
    width: 800px;
    height: 100%;
    text-align: center;
    margin: auto;
  }
  
  .links {
    font-size: 30px;
  }
  .contactUs {
    text-align: center;
  }
  .MainBody-inner {
    width: 60vw;
    margin: auto;
  }
  .center {
    text-align: center;
  }
  
  ul {
    list-style: upper-alpha;
  }
  ol {
    list-style: lower-alpha;
  }
  li {
    list-style: decimal;
    text-align: center;
    list-style-position: inside;
  }
  
  .Options {
    font-weight: 500;
    font-family: 'Tahoma';
    
    margin-right: 30px;
    margin-top: 10px;
    padding: 0px;
    vertical-align: middle;
}
button[type="Options"].btn {
    height: 20px;
    background: white;
    border-radius: 6px;
}

button[type="Options"].btn:hover {
    background: #0099CC;
}

.schedulerTypeCont {
    display: inline-block;
    text-align: center;
}
.scheduleTypeBar {
    display: inline-block;
    width: 40vw;
}
.form-group {
    text-align: center;
}

.row {
}

.form-control {
}

.button {
}

.row2 {
    text-align: center;
}

.table-responsive {
    text-align: center;
}

.DataInput{
    border: solid;
}

#col-xs-2 {
    margin-left: 10px;
}
#upload-button {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: #5555FF;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

#template-button {
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: orange;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.template-cont {
    overflow: hidden;
}
.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
    overflow: hidden;
}
.inner-header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #101010;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
    background-color: #101010;

    /* This is to adjust for the main navigation bar */
    padding-left: 20px;
}
.logo-container a {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 32px;
    font-weight: 200;
}
.logo-container h1 span {
    font-weight: 800;
}

.basic-navigation {
    height: 100%;
    float: right;
    margin-bottom: 0px;
}
.basic-navigation a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.basic-navigation a li {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: "Montserrat";
    font-size: 16px;
}

.redLine {
    height: 50px;
    width: 100%;
    background-color: red;
}