/*.dropdown {
    position:relative;
    display:inline-block;
    
}

#drop-content a{
    display:block;
}

.Options {
   

    font-weight: 500;
    font-family: 'Tahoma';
    
    margin-left: 5px;
    margin-top: 10px;
    padding: 0px;

}



/*.Options {
    font-weight: 500;
    font-family: 'Tahoma';
    
    margin-right: 30px;
    margin-top: 10px;
    padding: 0px;
    vertical-align: middle;
}
button[type="Options"].btn {
    height: 20px;
    background: white;
    border-radius: 6px;
}

button[type="Options"].btn:hover {
    background: #0099CC;
}*/