
.form-group {
    text-align: center;
    padding: 0px;
    font-weight: 800;
    border-left: solid;
    border-right: solid;
    border-top: solid;
}

.row {
    
    margin-left: 200px;
    margin-right: 500px;
    margin-top: 50px;
    padding: 0px;
    
}

.form-control {
    
    margin-left: 20px;
}

.button {
    text-align: center;
    margin-left: 200px;
    margin-right: 500px;
    padding: 0px;
    border-right: solid;
    border-left: solid;
}

.row2 {
    text-align: center;
    margin-left: 200px;
    margin-right: 500px;
}


.table-responsive {
    text-align: center;
    border-right: solid;
    border-left: solid;
}

.DataInput{
    border: solid;
}